library.py
old_library.py
Media
pretrained_models
*.sublime*
*.mp4
.env
.coffee

*pycache*
.python*
production
concerts
inventory/reactor_notations.py
library/*
studio/node_modules
studio/backups
studio/db
studio/.nvmrc
studio/vendor
studio/package-lock.json
testren.coffee
bin/dl
*.json
*.txt
*.vtt
Voice memos/*