soundfile
numpy
opencv-python
moviepy
librosa
matplotlib
scipy
scikit-learn
pydub
pygetwindow
noisereduce
spleeter
objgraph
python-youtube
requests
python-decouple
pynput
PrettyTable
pympler
torch
mtcnn
screeninfo
openai-whisper